<div class="navbar">
  <mat-toolbar color="primary">
    <div class="container" style="display: flex;">
      <img src="../assets/img/angular_whiteTransparent.svg" alt="Logo" width="32" style="margin-right: 5px;"/>
      <span>ngular Material Components</span>
    </div>
  </mat-toolbar>
</div>
<mat-drawer-container class="main-container">
  <mat-drawer mode="side" opened class="sidebar">
    <mat-nav-list>
      <mat-list-item routerLink="/badge" routerLinkActive="active">
        <mat-icon>verified</mat-icon>
        <span matBadge="4" matBadgeOverlap="false">Badge</span>
      </mat-list-item>
      <mat-list-item routerLink="/button">
        <mat-icon>smart_button</mat-icon>
        <span>Button</span>
      </mat-list-item>
      <mat-list-item routerLink="/cards">
        <mat-icon>crop_square</mat-icon>
        <span>Cards</span>
      </mat-list-item>
      <mat-list-item routerLink="/expansion-panel">
        <mat-icon>expand</mat-icon>
        <span>Expansion Panel</span>
      </mat-list-item>
      <mat-list-item routerLink="/list">
        <mat-icon>format_list_bulleted</mat-icon>
        <span>List</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <!-- CONTENT DISPLAYS HERE -->
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
